In [11]:
import nltk
import pandas as pd
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import PunktSentenceTokenizer

In [2]:
data = pd.read_csv('../real_fake_combo.csv')

In [5]:
data.head()

   Unnamed: 0                                              title realfake
0           0  #2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...     fake
1           1  #2817: Serco's Zulu Starnet Blackmail – Clinto...     fake
2           2  Roger Stone update on Stop the Steal exit poll...     fake
3           3  #2818: Serco's Zulu Bridge To Mumbai Pig Farm ...     fake
4           4  Trump Advocates the American People's Control ...     fake

In [12]:
#Import stopwords
stopWords = set(stopwords.words('english'))
data['title_tokenized'] = [word_tokenize(i) for i in data['title']]

filtered = []
for words in data['title_tokenized']:
    temp = []
    for w in words:
        if w not in stopWords:
            temp.append(w)
    filtered.append(temp)

data['title_no_stops'] = filtered

In [15]:
data.head()

,Unnamed: 0,title,realfake,title_tokenized,title_no_stops
0,0,#2816: Clinton Pride’s 8(a) Pig Farm Bridge – ...,fake,"[#, 2816, :, Clinton, Pride, ’, s, 8, (, a, ),...","[#, 2816, :, Clinton, Pride, ’, 8, (, ), Pig, ..."
1,1,#2817: Serco's Zulu Starnet Blackmail – Clinto...,fake,"[#, 2817, :, Serco, 's, Zulu, Starnet, Blackma...","[#, 2817, :, Serco, 's, Zulu, Starnet, Blackma..."
2,2,Roger Stone update on Stop the Steal exit poll...,fake,"[Roger, Stone, update, on, Stop, the, Steal, e...","[Roger, Stone, update, Stop, Steal, exit, poll..."
3,3,#2818: Serco's Zulu Bridge To Mumbai Pig Farm ...,fake,"[#, 2818, :, Serco, 's, Zulu, Bridge, To, Mumb...","[#, 2818, :, Serco, 's, Zulu, Bridge, To, Mumb..."
4,4,Trump Advocates the American People's Control ...,fake,"[Trump, Advocates, the, American, People, 's, ...","[Trump, Advocates, American, People, 's, Contr..."

In [14]:
nltk.pos_tag(data['title_no_stops'][0])

[('#', '#'),
 ('2816', 'CD'),
 (':', ':'),
 ('Clinton', 'NNP'),
 ('Pride', 'NNP'),
 ('’', 'VBD'),
 ('8', 'CD'),
 ('(', '('),
 (')', ')'),
 ('Pig', 'NNP'),
 ('Farm', 'NNP'),
 ('Bridge', 'NNP'),
 ('–', 'NNP'),
 ('Serco', 'NNP'),
 ('Zulu', 'NNP'),
 ('Server', 'NNP'),
 ('Snuff', 'NNP'),
 ('–Soros', 'NNP'),
 ("'s", 'POS'),
 ('Patented', 'NNP'),
 ('Voter', 'NNP'),
 ('Key', 'NNP')]